body {
  background-color: rgb(145, 183, 145);
  font-size: 62.5%;
}

header {
  font-size: 1.4rem;
  text-align: center;
  background-color: rgb(232, 232, 114);
  padding: 0.1em;

  margin-bottom: 1rem;
}

footer {
  text-align: center;
  background-color: lightblue;
  padding: 1rem;
  margin-top: 1rem;
}

h2 {
  margin: 0;
}

p{
    text-align: center;
}
.grid-container article {
  border-style: solid;
  border-color: rgb(78, 72, 128);
  border-radius: 10%;
}

/* very important!!! makes image same size with properties width and height*/
.grid-item img {
  margin-left: 3rem;
  height: 70%;
  width: 70%;
  height: 20rem;
  object-fit: contain;
}

.grid-item {
  background-color: bisque;
}

.grid-item.psychic{
    background-color: #6a0dad;
    color:gold;
}

.grid-item.fire{
    background-color: #ba5200;
    color:gold;
}

.grid-item.water{
    background-color: #0040ba;
    color:#ba5200;
}

.grid-item.fighting{
    background-color: #bc0936;
    color:#3b61b2;
}

.grid-item.grass{
    background-color: #00ba00;
    color:#3b61b2;
}

.grid-item.bug{
    background-color: #00ba00;
    color:#3b61b2;
}

.grid-item.normal{
    background-color: #00ba00;
    color:#3b61b2;
}

.grid-item.ground{
    background-color: #00ba00;
    color:#3b61b2;
}

.grid-item.sun{
    background-color: #00ba00;
    color:#3b61b2;
}

.grid-item.dark{
    background-color: #00ba00;
    color:#3b61b2;
}

.grid-item.electric{
    background-color: #00ba00;
    color:#3b61b2;
}

.grid-item.fairy{
    background-color: #da43e8;
    color:#1e2d4e;
}

.grid-item.dragon{
    background-color: #4f066a;
    color:#3b61b2;
}

.grid-item.ghost{
    background-color: #cee6ce;
    color:#3b61b2;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;

  background-color: rgb(145, 183, 145);
  row-gap: 1rem;
  column-gap: 1rem;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1500px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

#dialog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  column-gap: 1rem;
  animation: fade-in 500ms;
}

#dialog-image {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h2 {
  text-align: center;
  font-size: 3rem;
}

#footprint-image {
  margin-top: -0.8rem;
  margin-left: 5rem;
  position: absolute;
  max-width: 10%;
  max-height: 10%;
}

form {
  padding-top: 1rem;
  text-align: center;
}
/* styling depending on type */

dialog[data-theme="psychic"]{
    background-color: #6a0dad;
    color:gold;
}

dialog[data-theme="psychic"] button{
    background-color: rgb(54, 58, 57);
    color:white;
    
}

dialog[data-theme="fire"]{
    background-color: #ba5200;
    color:rgb(160, 237, 109);
}

dialog[data-theme="fire"] button{
    background-color: rgb(57, 212, 171);
    
    
}




@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*  Normal, Fire, Water, Grass, Flying, Fighting, Poison, Electric, Ground, Rock, Psychic, 
Ice, Bug, Ghost, Steel, Dragon, Dark and Fairy  */
