body {
  background-color: rgb(145, 183, 145);
  font-size: 62.5%;
}

header {
  font-size: 1.4rem;
  text-align: center;
  background-color: rgb(232, 232, 114);
  padding: 0.1em;

  margin-bottom: 1rem;
}

footer {
  text-align: center;
  background-color: lightblue;
  padding: 1rem;
  margin-top: 1rem;
}

h2 {
  margin: 0;
}

p {
  text-align: center;
}
.grid-container article {
  border-style: solid;
  border-color: rgb(78, 72, 128);
  border-radius: 10%;
}

/* very important!!! makes image same size with properties width and height*/
.grid-item img {
  margin-left: 3rem;
  height: 70%;
  width: 70%;
  height: 20rem;
  object-fit: contain;
}

.info {
  font-size: 1.5rem;
}
/* Sets item in the grid background and fonrt color according to type */
.grid-item {
  background-color: bisque;
}

.grid-item.bug {
  background-color: #579257;
  color: #3b61b2;
}
.grid-item.dark {
  background-color: #839983;
  color: #3b61b2;
}

.grid-item.dragon {
  background-color: #69586f;
  color: #b4274f;
}
.grid-item.electric {
  background-color: #f3eb09;
  color: #3b61b2;
}
.grid-item.fairy {
  background-color: #da43e8;
  color: #1e2d4e;
}
.grid-item.fighting {
  background-color: #bc0936;
  color: #03153d;
}

.grid-item.fire {
  background-color: #ba5200;
  color: gold;
}

.grid-item.ghost {
  background-color: #cee6ce;
  color: #3b61b2;
}

.grid-item.grass {
  background-color: #00ba00;
  color: #0f234e;
}

.grid-item.ground {
  background-color: beige;
  color: #bc8627;
}

.grid-item.normal {
  background-color: grey;
  color: #b2ae3b;
}

.grid-item.psychic {
  background-color: #6a0dad;
  color: gold;
}
.grid-item.sun {
  background-color: #e7e00f;
  color: #3b61b2;
}
.grid-item.water {
  background-color: #0040ba;
  color: #ba5200;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;

  background-color: rgb(145, 183, 145);
  row-gap: 1rem;
  column-gap: 1rem;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1500px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

#dialog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  animation: fade-in 1000ms;
}

#dialog-image {
  max-height: 200px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h2 {
  text-align: center;
  font-size: 3rem;
}

#footprint-image {
  margin-top: -1.3rem;
  margin-left: 8.5rem;
  position: absolute;
  max-width: 50px;
  max-height: 50px;
}

form {
  padding-top: 1rem;
  text-align: center;
}
/* styling depending on type */
/* skulle virkeligt have sat farver som css variabler i stedet ville have gjort arbejdet SÅ meget nemmere */

dialog[data-theme="bug"] {
  background-color: #579257;
  color: rgb(160, 237, 109);
}

dialog[data-theme="bug"] button {
  background-color: rgb(57, 91, 212);
  color: brown;
}

dialog[data-theme="dark"] {
  background-color: #839983;
  color: rgb(14, 28, 38);
}

dialog[data-theme="dark"] button {
  background-color: rgb(9, 49, 190);
  color: white;
}

dialog[data-theme="dragon"] {
  background-color: #69586f;
  color: #b4274f;
}

dialog[data-theme="dragon"] button {
  background-color: rgb(9, 49, 190);
  color: white;
}

dialog[data-theme="electric"] {
  background-color: #f3eb09;
  color: #3b61b2;
}

dialog[data-theme="electric"] button {
  background-color: rgb(9, 49, 190);
  color: white;
}

dialog[data-theme="fairy"] {
  background-color: #da43e8;
  color: #1e2d4e;
}

dialog[data-theme="fairy"] button {
  background-color: rgb(57, 212, 171);
}

dialog[data-theme="fighting"] {
  background-color: #bc0936;
  color: #03153d;
}

dialog[data-theme="fighting"] button {
  background-color: rgb(57, 212, 171);
}

dialog[data-theme="fire"] {
  background-color: #ba5200;
  color: rgb(160, 237, 109);
}

dialog[data-theme="fire"] button {
  background-color: rgb(57, 212, 171);
}

dialog[data-theme="ghost"] {
  background-color: #cee6ce;
  color: #3b61b2;
}

dialog[data-theme="ghost"] button {
  background-color: rgb(57, 212, 171);
}

dialog[data-theme="grass"] {
  background-color: #00ba00;
  color: #0f234e;
}

dialog[data-theme="grass"] button {
  background-color: rgb(57, 212, 171);
}

dialog[data-theme="ground"] {
  background-color: beige;
  color: #bc8627;
}

dialog[data-theme="ground"] button {
  background-color: rgb(57, 212, 171);
}

dialog[data-theme="normal"] {
  background-color: grey;
  color: #b2ae3b;
}

dialog[data-theme="normal"] button {
  background-color: rgb(57, 212, 171);
}

dialog[data-theme="psychic"] {
  background-color: #6a0dad;
  color: gold;
}

dialog[data-theme="psychic"] button {
  background-color: rgb(54, 58, 57);
  color: white;
}

dialog[data-theme="sun"] {
  background-color: #e7e00f;
  color: #3b61b2;
}

dialog[data-theme="sun"] button {
  background-color: rgb(54, 58, 57);
  color: white;
}

dialog[data-theme="water"] {
  background-color: #0040ba;
  color: #ba5200;
}

dialog[data-theme="water"] button {
  background-color: rgb(57, 212, 171);
}

.grid-item.sun {
  background-color: #e7e00f;
  color: #3b61b2;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*  Normal, Fire, Water, Grass, Flying, Fighting, Poison, Electric, Ground, Rock, Psychic, 
Ice, Bug, Ghost, Steel, Dragon, Dark and Fairy  */
