body {
  background-color: antiquewhite;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

header h1 {
  font-size: 2.4rem;
  text-align: center;
  background-color: rgb(232, 232, 114);
  padding: 1em;
  margin: 0;
  z-index: 9999;
}

footer {
  margin-top: 5rem;
  text-align: center;
  background-color: lightblue;
  padding: 1rem;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 9999;
}

h2 {
  margin: 0;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  background-color: white;
}

#grid-item{
    margin: 1rem;
  
  border-color: purple;
  border-style: solid;
}
@media (min-width: 300px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 900px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

#dialog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
}
dialog{
    width: 50rem;
}

h2{
    text-align: center;
    font-size: 3rem;
}



#grid-image-container {
    


  /* when changing sise the box expands */
}

#dialog-image {
  height: 70%;
  width: 70%;
}

#footprint-image{
    margin-top: -0.8rem;
    margin-left: 5rem;
    position: absolute;
}





/* BACKGROUNDS */

.psychic-background{
    background-color: purple;
}

.blue-background{
    background-color: blue;
}

